body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

#hero {
    background: url("../assets/backgroundImage.jpg") no-repeat center center/cover;
    color: #ffffff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#services, #about, #contact {
    padding: 20px 0;
}

.service {
    margin-bottom: 20px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}